#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.calContainer {
  width: 320px;
  height: 400px;
  margin: auto;
  margin-top: 80px;
}

#answer {
  background-color: rgb(20, 13, 4);
  padding: 10px;
  font-size: 35px;
  width: 265px;
  height: 45px;
  text-align: right;
  border: 3px solid rgb(137, 136, 136);
  color: rgb(255, 255, 255);
}

.button {
  background-color: rgb(10, 0, 47);

  height: 80px;
  width: 96px;
  color: rgb(123, 173, 255);
  font-size: 30px;
  border: 1px solid rgb(192, 192, 192);
}

.button1 {
  background-color: rgb(10, 0, 47);
  height: 80px;
  width: 96px;
  color: rgb(123, 173, 255);
  font-size: 30px;
  border: 1px solid rgb(190, 189, 189);
}
